.section--partners {
	margin: 155px 0 235px;

	.h2 {
		text-align: center;
		margin-bottom: 68px;
	}

	.partners {
		margin-bottom: 135px;

		&__icon {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 16px;
			width: 212px;
			height: 212px;

			&.glide__slide--active {
				background-color: $purple;
				.icon {
					fill: $white;
				}
			}
		}

		.icon {
			fill: $purple;

			&-amazon {
				max-height: 88px;
			}
		}
	}

	.testimonies {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 235px;
	}
}
