.section--solutions {
  padding: 180px 0 85px;
  background-color: $lightPurple;
  border-bottom-left-radius: 20% 5%;
  border-bottom-right-radius: 20% 5%;

  .h2 {
    text-align: center;
    margin-bottom: 60px;
  }

  .bodytext {
    max-width: 734px;
    margin-bottom: 60px;
  }

  .solutions {
    text-align: center;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .card-solution {
      margin-bottom: 54px;
    }
  }
}
