/* 
* MEDIA QUERIES
*/

$medium: 768px;
$large: 1200px;
$wide: 1600px;

@mixin medium {
  @media (min-width: $medium) {
    @content;
  }
}

@mixin large {
  @media (min-width: $large) {
    @content;
  }
}

@mixin wide {
  @media (min-width: $wide) {
    @content;
  }
}

/* 
* FUNCTIONS
*/

@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
