@import './global/reset';
@import './global/variables';
@import './global/colors';
@import './global/fonts';

@import './components/cta';
@import './components/card-objective';
@import './components/card-solution';

@import './layouts/header';
@import './layouts/footer';
@import './layouts/hero';
@import './layouts/objectives';
@import './layouts/solutions';
@import './layouts/partners';

@import './pages/homepage';

body {
  font-family: $font;
}

.homepage {
  overflow: hidden;
}

.content-wrapper {
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
  max-width: 1138px;

  @include large {
    padding: 0;
  }
}
